@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
:root {
    --blue-g: #9198e5;
    --green-g: #64e6bd;
    --trans-bor: rgba(255, 255, 255, 0.18);
}

body {
    background: linear-gradient(var(--blue-g), var(--green-g)) no-repeat; 
    background-size: cover;
    color: #1f1f1f;
    min-height: 100%;
}

.navbar {
    height: auto;
    padding: 5px;

    position: sticky;
    top: 1vw;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid var(--trans-bor)
}

/*mobile devices i think*/
@media (max-width: 768px) {
    p.nav-title {
        font-size: 30px;
    }
    li.nav-li {
        font-size: 20px;
    }
}

.nav-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    display: inline;
}    

.nav-ul {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
    font-family: 'Jetbrains Mono', monospace;
}

.nav-li {
    display: inline-flex;
    padding: 10px;
    transition: all 0.2s;
    font-size: 18px;
}

.nav-split {
    display: inline;
    padding: 10px;
}

.nav-li:hover {
    cursor: pointer;
    transform: translate(2px, -2px);
    text-shadow: -2px 2px var(--green-g);
}

li.nav-li > a {
    text-decoration: none !important;
    color: #1f1f1f !important;  
}